@use "../abstract/color-variables" as col;
@use "../abstract//font-varibales" as font;

.play-link {
    background-color: col.$secondary_yello;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    width: 250px;
    height:98px;
    text-decoration: none;
    padding: 10px;
    transition: all 0.3s ease;
    cursor: pointer;

    &__icon {
        transition: transform 0.3s ease; 
        display: block;
    
    }

    &__text {
        margin: 0 10px;
        color: black;
        font-size:40px;
        font-family: font.$red-rose ;
        font-weight: bold;
    }

    &__arrow-container {
        position: relative;
        display: flex;
        align-items: center;
        width: 20px;
        height: 20px;
    }

    &__arrow {
        transition: opacity 0.3s ease;
        position: absolute; 
        left: 0;
        
        &--one {
            opacity: 1;
        }

        &--two {
            opacity: 0;
        }
    }

    // Hover-Logig For Joypad
    &:hover {
        transform: scale(1.1); 

        .play-link__icon {
            transform: rotate(-45deg);
        }

        .play-link__arrow--one {
            opacity: 0; 
        }

        .play-link__arrow--two {
            opacity: 1; 
        }
    }
}