@use "../abstract/font-varibales" as font;
@use "../abstract/color-variables" as col;
@use "../abstract/mixins/mixins-standard" as mix;

* {
    margin: 0;
}

.settings-panel {

    @include mix.size(1100px, 590px);
    margin-bottom: 90px;
    box-sizing: border-box;
    background-color: transparent;
    @include mix.flex($direction: row, $justify: space-between, $align: null);

    &__nav {
        width: 50%;

    }

    &__display {
        width: 60%;
        @include mix.flex($direction: column, $justify: center, $align: center, $gap: null);
    }
}

.nav-options {
    @include mix.flex($direction: column, $justify: center, $align: flex-start, $gap: null);
    margin-top: 20px;

    &__section-title {
        display: flex;
        align-items: center;
        gap: 6px;
        font-family: font.$almarai ;
        margin: 28px 0 10px 8px;
    }

    &__option {
        display: flex;
        align-items: center;
        width: 100%;
        max-width: 250px;
        border-radius: 20px;
        margin-bottom: 10px;
    }

    &__radio {
        display: none;
    }

    &__label {
        display: flex;
        align-items: center;
        padding-left: 35px;
        width: 100%;
        max-width: 215px;
        cursor: pointer;
        font-family: font.$almarai400;
        font-weight: 400;
        font-size: 20px;
        position: relative;
        color: #333;
    }

    &__indicator {

        @include mix.size();

        border-radius: 50%;
        box-shadow: inset 0 0 0 4px #333;
        position: relative;
        margin-right: 15px;
        transition: all 0.2s ease-in-out;
        flex-shrink: 0;
        pointer-events: none;

        &::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            @include mix.size(10px, 10px);
            background-color: #21211f;
            border-radius: 50%;
            transform: translate(-50%, -50%) scale(0);
            transition: transform 0.2s ease-in-out;
        }
    }

    &__label-text {
        pointer-events: none;
    }

    &__arrow {
        position: absolute;
        right: -60px;
        opacity: 0;
        transform: translateX(-10px);
        transition: all 0.3s ease;
        pointer-events: none;
    }

    &__label:hover &__indicator {
        box-shadow: inset 0 0 0 2px #333;
    }

    &__label:hover &__indicator::after {
        transform: translate(-50%, -50%) scale(1);
    }

    &__label:hover &__label-text {
        font-weight: bold;
    }

    &__label:hover &__arrow {
        opacity: 1;
        transform: translateX(0);
    }


    &__radio:checked+&__label &__label-text {
        font-weight: bold;
    }

    &__radio:checked+&__label &__indicator {
        box-shadow: inset 0 0 0 2px #333;
    }

    &__radio:checked+&__label &__indicator::after {
        transform: translate(-50%, -50%) scale(1);
    }

    &__radio:checked+&__label &__arrow {
        opacity: 1;
        transform: translateX(0);
    }
}

.theme-preview {
    @include mix.flex($direction: column, $gap: 20px, $justify: center, $align: center);

    &__image {
        @include mix.size(425px, 380px);
        border-radius: 16px;
        align-self: flex-end;
    }

    &__sub-nav {
        @include mix.flex($direction: null, $justify: flex-end, $align: center, $gap: 20px);
        @include mix.size(590px, 81px);
        background-color: col.$white-bg-setting-start;
    }

    &__sub-list {
        padding: 0px;
    }

    &__sub-item {
        @include mix.flex($direction: null, $justify: center, $align: center);
        gap: var(--themePreviewSubItem-gap);
        font-family: font.$almarai;
        @include mix.fontSizeWeight(20px, 400);
        transition: gap 0.4s cubic-bezier(0.34, 1.56, 0.64, 1);
    }

    .theme-preview__sub-item {
        --themePreviewSubItem-gap: 12px;
    }

    &__sub-item img {
        @include mix.size(40px, 50px);

    }
}

.theme-divider-big {
    display: block;
}

.theme-divider-small {
    display: none;
}

.player-divider-big {
    display: block;
}

.player-divider-small {
    display: none;
}

.is-selected {
    &.theme-divider-big {
        display: none;
    }

    &.theme-divider-small {
        display: block;
    }

    &.player-divider-big {
        display: none;
    }

    &.player-divider-small {
        display: block;
    }
}

.theme-preview__sub-nav.is-selected .theme-preview__sub-item {
    --themePreviewSubItem-gap: 25px;
    width: 455px;
}