$secondary_yello: #f0ea6e;
$primary-dark: #303131;
$white-standard: #ffffff;
$white-bg-setting-start: #F6F6F6;
$orange: #EA6900;
$blue: #097FC5;
$exitBtnBorderGame:#E71C4F;
$quitDialogText: #294F60;
$dialogbackBtnBc: #ED1B76;

$bgCodeVibes: #303131;
$playerScoreBgVibes:  #86E9D633;
$hoverExitBtnVibes: #4DD5BC;
$bgQuitBtnprimaer:  #66CFBC;
$bgQuitBtnprimaerHover:  #4dd5bc6a;
$btnBorderExitVibes:  #4DD5BC;
