
@font-face {
  font-family: 'Almarai';
  src: url('/fonts/almarai.ttf') format('truetype');
  font-weight: 400 900;
  font-style: normal;
}

@font-face {
  font-family: 'AlmaraiReg';
  src: url('/fonts/almarai400.ttf') format('truetype');
  font-weight: 400 900;
  font-style: normal;
}

@font-face {
  font-family: 'Redrose';
  src: url('/fonts/red-rose-bold.ttf') format('truetype');
  font-weight: 400 900;
  font-style: normal;
}

@font-face {
  font-family: 'Orbitron';
  src: url('/fonts/orbi.ttf') format('truetype');
  font-weight: 400 900;
  font-style: normal;
}

@font-face {
  font-family: 'Figtree';
  src: url('/fonts/figtree.ttf') format('truetype');
  font-weight: 400 900;
  font-style: normal;
}

$almarai: 'Almarai', sans-serif;
$almarai400: 'Almarai400', sans-serif;
$red-rose: 'Redrose', sans-serif;
$orbitron: 'Orbitron', sans-serif;
$figtree: 'Figtree', sans-serif;