@use "../components/game/memory-card";
@use "../components/start-btn-setting.scss";
@use "../components/nav-left-settings";
@use "../components/game/exit-button";
@use "../components/game/dialog";
@use "../components/game/game-over-dialog";
@use "../components/game/winner-dialog";
@use "../themes/code-vibes";
@use "../themes/gaming-theme";
@use "../themes/da-theme";
@use "../themes/foods-theme";

@use "../abstract/color-variables" as col;
@use "../abstract/font-varibales" as font;
@use "../abstract/mixins/mixins-standard" as flex;


body {
    background-color: var(--body-bg);
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.game-wrapper {
    width: 1220px;
    height: 650px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.game-header {
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--gameHeader-bg);


    &__nav {
        width: 90%;
        height: var(--gameHeader-navHeight);
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--bgColor-header);
        padding: var(--padding-headerNav);
        border-radius: var(--gameHeader-borderRadius);
    }
}

.player-scores {
    width: var(--playerScore-width);
    height: var(--playerScore-height);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-family: font.$red-rose;
    gap: 20px;
    background-color: var(--playerScore-bg);
    border-radius: var(--playerScore-radius);

    &__player--blue {
        color: var(--playerBlue-color);
    }

    &__player--orange {
        color: var(--playerOrange-color);
    }

    &__icon {
        width: 24px;
        height: 20px;
    }

    &__points {
        font-size: var(--playerScore-points);
    }

    &__name {
        display: var(--playerNameNone);
        font-size: 24px;
      
    }

}

.current-player {
    align-self: flex-end;
    align-self:var(--currentPalyer-alignSelf);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    &__label {
        font-family: var(--currentPlayer-label-font);
        font-weight: 400;

        font-size: var(--curenntPlayer-label-fontSize);
        color: col.$white-standard;
    }
}

.cards-grid {
    height: 530px;
    display: grid;
    gap: 15px;
    align-self: center;
    margin-top: auto;
    margin-bottom: 20px;
}