@use "../components/start-btn-setting.scss";
@use "../components/nav-left-settings";

@use "../abstract/color-variables" as col;
@use "../abstract/mixins/mixins-standard" as flex;

body {
    background-color: col.$white-standard;
    height: 100vh;
    margin: 0;
}

.page-wrapper {
    @include flex.flex($direction: null);
    height: 100vh;
    margin: 0;
}

.settings-container {

    @include flex.flex($direction: column, $align: flex-start, $justify: null);
    width: 1100px;

    &__title {
        margin: 0;
        padding: 0;
        display: block;
    }

    &__logo {
        width: 270px;
        height: 90px;
        display: block;
        margin-left: 0;
    }
}