@use "../abstract/color-variables" as col;
@use "../abstract/font-varibales" as font;
@use "../abstract/mixins/mixins-standard" as flex;

[data-theme="code-vibe-theme"] {
    --body-bg: #303131;
}

[data-theme="code-vibe-theme"] .game-header {
    --bgColor-header: transparent;
    --gameHeader-navHeight: 100%;

}

[data-theme="code-vibe-theme"] .player-scores {
    --playerScore-width: 300px;
    --playerScore-height: 100%;
    --playerScore-bg: #86E9D633;
    --playerBlue-color: #2BB1FF;
    --playerOrange-color: #F58E39;
    --playerScore-points: 24px;
    --currentPlayer-label-font: #{font.$red-rose};

}

[data-theme="code-vibe-theme"] .current-player {
    --currentPlayer-label-font: #{font.$red-rose};
    --curenntPlayer-label-fontSize: 26px;

}

[data-theme="code-vibe-theme"] .cards-grid {
    --grid-gap: ;
}

//1.diaolog
[data-theme="code-vibe-theme"] .quit-dialog {
    --dialog1-bg: #{col.$white-standard};
}

[data-theme="code-vibe-theme"] .quit-dialog__title {
    --dialog1-font: #{font.$red-rose};
}

[data-theme="code-vibe-theme"] .quit-dialog__button {
    --dialog1-font: #{font.$red-rose};
    --dialog1BackBtn-BorderColor: 2px solid #4DD5BC;
}

[data-theme="code-vibe-theme"] .quit-dialog__button--primary {
    --dialog1BackBtn-bg: #4DD5BC;

}

[data-theme="code-vibe-theme"] .quit-dialog__button--primary:hover {
    --dialog1BackBtn-bgHover: #4dd5bc6a;
    --dialog1BackBtn-BorderHover: 4px solid #4DD5BC;
}

//exit Button
[data-theme="code-vibe-theme"] .exit-game {
    --exitGame-bg: #86E9D633;
    --exitBtn-border: 1px solid #4DD5BC;
    --currentPlayer-label-font: #{font.$red-rose};
    --exitIcon-url: url('/assets/img/themes/code-vibe-theme/exit-code-vibe.svg');
}

[data-theme="code-vibe-theme"] .exit-game:hover {
   --exitGame-hoverBorder: 4px solid #4DD5BC;
   --exitIcon-url: url('/assets/img/themes/code-vibe-theme/exit-code-vibe.svg');
}