@use "../abstract/color-variables" as col;
@use "../abstract/font-varibales" as font;
@use "../abstract/mixins/mixins-standard" as flex;



[data-theme="code-vibe-theme"] {
    --body-bg: #303131;
}

[data-theme="code-vibe-theme"] .game-header {
    --bgColor-header: transparent;
    --gameHeader-navHeight: 100%;

}

[data-theme="code-vibe-theme"] .player-scores {
    --playerScore-width: 300px;
    --playerScore-height: 100%;
    --playerScore-bg: #86E9D633;
    --playerBlue-color: #2BB1FF;
    --playerOrange-color: #F58E39;
    --playerScore-points: 24px;
    --currentPlayer-label-font: #{font.$red-rose};

}

[data-theme="code-vibe-theme"] .current-player {
    --currentPlayer-label-font: #{font.$red-rose};
    --curenntPlayer-label-fontSize: 26px;

}

[data-theme="code-vibe-theme"] .cards-grid {
    --grid-gap: ;
}

//1.diaolog
[data-theme="code-vibe-theme"] .quit-dialog {
    --dialog1-bg: #{col.$white-standard};
}

[data-theme="code-vibe-theme"] .quit-dialog__title {
    --dialog1-font: #{font.$red-rose};
}

[data-theme="code-vibe-theme"] .quit-dialog__button {
    --dialog1-font: #{font.$red-rose};
    --dialog1BackBtn-BorderColor: 2px solid #4DD5BC;
}

[data-theme="code-vibe-theme"] .quit-dialog__button--primary {
    --btnPrimary-bg: #4DD5BC;
    --btnPrimary-border: #4DD5BC;
    --btnPrimary-color: #{col.$white-standard};
    --btnPrimary-bgHover: #4dd5bc6a;
    --btnPrimary-borderHover: #4DD5BC;
    --btnPrimary-colorHover: #{col.$white-standard};
}

[data-theme="code-vibe-theme"] .quit-dialog__button--secondary {
    --btnSecondary-bg: transparent;
    --btnSecondary-border: #4DD5BC;
    --btnSecondary-color: #4DD5BC;
    --btnSecondary-bgHover: #4dd5bc23;
    --btnSecondary-borderHover: #4DD5BC;
}

//exit Button
[data-theme="code-vibe-theme"] .exit-game {
    --exitGame-bg: #86E9D633;
    --exitBtn-border: 1px solid #4DD5BC;
    --currentPlayer-label-font: #{font.$red-rose};
    --exitIcon-url: url('/assets/img/themes/code-vibe-theme/exit-code-vibe.svg');
}

[data-theme="code-vibe-theme"] .exit-game:hover {
    --exitGame-hoverBorder: 4px solid #4DD5BC;
    --exitIcon-url: url('/assets/img/themes/code-vibe-theme/exit-code-vibe.svg');
}


/////Game Over dialog

[data-theme="code-vibe-theme"] .game-over-dialog {
    --gameOverDialog-bg: #303131;
}


[data-theme="code-vibe-theme"] .game-over-dialog__container {
    --gameOverDialog-Font: #{font.$red-rose};
}

[data-theme="code-vibe-theme"] .game-over-dialog__img {
    --gameOver-img: url('/assets/img/game-over/game_over.svg');
}

[data-theme="code-vibe-theme"] .game-over-dialog__points {
    --gameOverDialog-pointsFontSize: 24px;
}

[data-theme="code-vibe-theme"] .game-over-dialog__player:first-child {
    --gameOver-playerColor: #2BB1FF;
}

[data-theme="code-vibe-theme"] .game-over-dialog__player:last-child {
    --gameOver-playerColor: #F58E39;
}

[data-theme="code-vibe-theme"] .game-over-dialog__player:first-child {
    --gameOver-playerIcon: url('/assets/img/themes/code-vibe-theme/player-icon-blue.svg');
}

[data-theme="code-vibe-theme"] .game-over-dialog__player:last-child {
    --gameOver-playerIcon: url('/assets/img/themes/code-vibe-theme/player-icon-orange.svg');
}

[data-theme="code-vibe-theme"] .game-over-dialog__scores {
    --gameOverDialog-scoreBg: #86E9D633;
}

// Winner Dialog

[data-theme="code-vibe-theme"] .winner-dialog__container {
    --winnerDialog-font: #{font.$red-rose};
}

[data-theme="code-vibe-theme"] .winner-dialog__btn {
    --winnerDialog-btnBorder: 1px solid #4DD5BC;
    --winnerDialog-btnFontSize: 24px;
    --winnerDialog-btnBg: #86E9D633;
    --winnerDialog-padding: 16px 24px;
}

[data-theme="code-vibe-theme"] .memory-card__img {
    --memoryCards-width: 120px;
    --memoryCards-height: 120px;
}

[data-theme="code-vibe-theme"] .memory-card.is-matched .memory-card__inner {
    --matchedCard-border: 5px solid #4DD5BC;
  /*   --matchedCard-borderRadius: 8px; */
}

[data-theme="code-vibe-theme"] .cards-grid {
  --cardsGrid-gap:15px;
}