@use "../abstract/color-variables" as col;
@use "../abstract/font-varibales" as font;
@use "../abstract/mixins/mixins-standard" as flex;



[data-theme="code-vibe-theme"] {
    --body-bg: #{col.$bgCodeVibes};
}

[data-theme="code-vibe-theme"] .game-header {
    --bgColor-header: transparent;
    --gameHeader-navHeight: 100%;

}

[data-theme="code-vibe-theme"] .player-scores {
    --playerScore-width: 300px;
    --playerScore-height: 100%;
    --playerScore-bg: #{col.$playerScoreBgVibes};
    --playerBlue-color:  #{col.$blue};
    --playerOrange-color:  #{col.$orange};
    --playerScore-points: 24px;
    --currentPlayer-label-font: #{font.$red-rose};

}

[data-theme="code-vibe-theme"] .current-player {
    --currentPlayer-label-font: #{font.$red-rose};
    --curenntPlayer-label-fontSize: 26px;

}

[data-theme="code-vibe-theme"] .cards-grid {
    --grid-gap: ;
}

[data-theme="code-vibe-theme"] .quit-dialog {
    --dialog1-bg: #{col.$white-standard};
}

[data-theme="code-vibe-theme"] .quit-dialog__title {
    --dialog1-font: #{font.$red-rose};
}

[data-theme="code-vibe-theme"] .quit-dialog__button {
    --dialog1-font: #{font.$red-rose};
    --dialog1BackBtn-BorderColor: 2px solid #{col.$hoverExitBtnVibes};
}

[data-theme="code-vibe-theme"] .quit-dialog__button--primary {
    --btnPrimary-bg: #{col.$bgQuitBtnprimaer};
    --btnPrimary-border: #{col.$btnBorderExitVibes};
    --btnPrimary-color: #{col.$white-standard};
    --btnPrimary-bgHover: #{col.$bgQuitBtnprimaerHover};
    --btnPrimary-borderHover:#{col.$btnBorderExitVibes};
    --btnPrimary-colorHover: #{col.$white-standard};
}

[data-theme="code-vibe-theme"] .quit-dialog__button--secondary {
    --btnSecondary-bg: transparent;
    --btnSecondary-border:#{col.$btnBorderExitVibes};
    --btnSecondary-color: #{col.$btnBorderExitVibes};
    --btnSecondary-bgHover: #4dd5bc23;
    --btnSecondary-borderHover:#{col.$btnBorderExitVibes};
}

//exit Button
[data-theme="code-vibe-theme"] .exit-game {
    --exitGame-bg: #{col.$playerScoreBgVibes};
    --exitBtn-border: 1px solid #{col.$btnBorderExitVibes};
    --currentPlayer-label-font: #{font.$red-rose};
    --exitIcon-url: url('/assets/img/themes/code-vibe-theme/exit-code-vibe.svg');
}

[data-theme="code-vibe-theme"] .exit-game:hover {
    --exitGame-hoverBorder: 4px solid #{col.$btnBorderExitVibes};;
    --exitIcon-url: url('/assets/img/themes/code-vibe-theme/exit-code-vibe.svg');
}

[data-theme="code-vibe-theme"] .game-over-dialog {
    --gameOverDialog-bg:#{col.$bgCodeVibes};
}


[data-theme="code-vibe-theme"] .game-over-dialog__container {
    --gameOverDialog-Font: #{font.$red-rose};
}

[data-theme="code-vibe-theme"] .game-over-dialog__img {
    --gameOver-img: url('/assets/img/game-over/game_over.svg');
}

[data-theme="code-vibe-theme"] .game-over-dialog__points {
    --gameOverDialog-pointsFontSize: 24px;
}

[data-theme="code-vibe-theme"] .game-over-dialog__player:first-child {
    --gameOver-playerColor: #2BB1FF;
}

[data-theme="code-vibe-theme"] .game-over-dialog__player:last-child {
    --gameOver-playerColor: #F58E39;
}

[data-theme="code-vibe-theme"] .game-over-dialog__player:first-child {
    --gameOver-playerIcon: url('/assets/img/themes/code-vibe-theme/player-icon-blue.svg');
}

[data-theme="code-vibe-theme"] .game-over-dialog__player:last-child {
    --gameOver-playerIcon: url('/assets/img/themes/code-vibe-theme/player-icon-orange.svg');
}

[data-theme="code-vibe-theme"] .game-over-dialog__scores {
    --gameOverDialog-scoreBg: #{col.$playerScoreBgVibes};
}

// Winner Dialog

[data-theme="code-vibe-theme"] .winner-dialog__container {
    --winnerDialog-font: #{font.$red-rose};
}

[data-theme="code-vibe-theme"] .winner-dialog__btn {
    --winnerDialog-btnBorder: 1px solid #{col.$btnBorderExitVibes};;
    --winnerDialog-btnFontSize: 24px;
    --winnerDialog-btnBg: #{col.$playerScoreBgVibes};
    --winnerDialog-padding: 16px 24px;
}

[data-theme="code-vibe-theme"] .memory-card__img {
    --memoryCards-width: 120px;
    --memoryCards-height: 120px;
}

@keyframes matchFlash {
    0%   { box-shadow: 0 0 0px #84e908; }
    50%  { box-shadow: 0 0 20px 6px #c0d904; }
    100% { box-shadow: 0 0 6px 2px #62b50a; }
}


[data-theme="code-vibe-theme"] .memory-card.is-matched .memory-card__inner {
    --matchedCard-border: 5px solid #{col.$btnBorderExitVibes};;
     animation: matchFlash 0.5s ease forwards;
}

[data-theme="code-vibe-theme"] .cards-grid {
  --cardsGrid-gap:15px;
}