
[data-theme="da-theme"] {
    --body-bg: #294F60;
    --gameHeader-bg: #FD96C933;
    --playerScore-bg: white;
    --playerBlue-color:#EA6900;
    --playerOrange-color:#2BB1FF;
    --playerScore-radius:10px;
}