@use "../abstract/color-variables" as col;
@use "../abstract/font-varibales" as font;
@use "../abstract/mixins/mixins-standard" as flex;
@use "../abstract/font-varibales";

[data-theme="gaming-theme"] {
    --body-bg: #294F60;
}



[data-theme="gaming-theme"] .game-header {
    --bgColor-header: #FD96C933;
    --padding-headerNav: 0 25px;
    --gameHeader-borderRadius: 10px;
    --gameHeader-navHeight: 102px;
}

[data-theme="gaming-theme"] .player-scores {
    --playerScore-width: 135px;
    --playerScore-height: 55px;
    --playerScore-radius: 10px;
    --playerScore-points: 26px;
    --playerNameNone: none;
    --playerScore-bg: #{col.$white-standard};
    --playerOrange-color: #{col.$orange};
    --playerBlue-color: #{col.$blue};
    --currentPlayer-label-font: #{font.$orbitron};
}

[data-theme="gaming-theme"] .player-scores__icon {
    --playerScore-iconHeight: 24px;
}

[data-theme="gaming-theme"] .current-player {
    --currentPalyer-alignSelf: center;
    --currentPlayer-label-font: #{font.$orbitron};
    --curenntPlayer-label-fontSize: 32px;
}

[data-theme="gaming-theme"] .quit-dialog {
    --dialog1-bg: #{col.$white-standard};
    --quitDialog-border: 20px;
}


//exit Button
[data-theme="gaming-theme"] .exit-game {
    --exitGame-bg: #ED1B7614;
    --exitBtn-border: 2px solid #{col.$exitBtnBorderGame};
    --exitBtn-borderRadius: 10px;
    --currentPlayer-label-font: #{font.$orbitron};
    --exitIcon-url: url('/assets/img/themes/code-vibe-theme/exit-code-vibe.svg');
}

[data-theme="gaming-theme"] .exit-game:hover {
    --exitGame-hoverBorder: 4px solid #ED1B76;
    --exitIcon-url: url('/assets/img/themes/gaming-theme/exit-icon-rose.svg');
}



[data-theme="gaming-theme"] .quit-dialog__title {
    --dialog1-font: #{font.$orbitron};
    --quitDialog-textColor: #{col.$quitDialogText};

}


[data-theme="gaming-theme"] .quit-dialog__button {
    --dialog1BackBtn-border: 10px;
    --dialog1BackBtn-BorderColor: 2px solid #{col.$dialogbackBtnBc};

}

[data-theme="gaming-theme"] .quit-dialog__button {
    --dialog1BackBtn-border: 10px;
    --dialog1BackBtn-BorderColor: 2px solid #{col.$exitBtnBorderGame};
}

[data-theme="gaming-theme"] .quit-dialog__button--primary {
    --btnPrimary-bg:#{col.$dialogbackBtnBc};
    --btnPrimary-border:#{col.$exitBtnBorderGame};
    --btnPrimary-color: #{col.$white-standard};
    --btnPrimary-bgHover: #{col.$white-standard};
    --btnPrimary-borderHover:#{col.$exitBtnBorderGame};
    --btnPrimary-colorHover:#{col.$exitBtnBorderGame};
}

[data-theme="gaming-theme"] .quit-dialog__button--secondary {
    --btnSecondary-bg: transparent;
    --btnSecondary-border:#{col.$exitBtnBorderGame};
    --btnSecondary-color:#{col.$exitBtnBorderGame};
    --btnSecondary-bgHover: #e71c4f23;
    --btnSecondary-borderHover:#{col.$exitBtnBorderGame};
}

//Game Over Dialog

[data-theme="gaming-theme"] .game-over-dialog {
    --gameOverDialog-bg: #294F60;
}

[data-theme="gaming-theme"] .game-over-dialog__container {
    --gameOverDialog-Font: #{font.$orbitron};
}

[data-theme="gaming-theme"] .game-over-dialog__img {
    --gameOver-img: url('/assets/img/game-over/game-over-gaming.svg');
} 

[data-theme="gaming-theme"] .game-over-dialog__points {
    --gameOverDialog-pointsFontSize: 30px;
}

[data-theme="gaming-theme"] .game-over-dialog__scores {
    --gameOverDialog-scoreBg: #{col.$white-standard};
    --gameOverDialog-scoreBorderRadius: 10px;
}

[data-theme="gaming-theme"] .game-over-dialog__name {
    --gameOverDialog-nameDNone: none;
}

[data-theme="gaming-theme"] .game-over-dialog__player:first-child {
    --gameOver-playerColor: #{col.$blue};
}

[data-theme="gaming-theme"] .game-over-dialog__player:last-child {
    --gameOver-playerColor: #{col.$orange};
}

[data-theme="gaming-theme"] .game-over-dialog__player:first-child {
    --gameOver-playerIcon: url('/assets/img/themes/gaming-theme/player-icon-blue.svg');
}

[data-theme="gaming-theme"] .game-over-dialog__player:last-child {
    --gameOver-playerIcon: url('/assets/img/themes/gaming-theme/player-icon-orange.svg');
}

// Winner Dialog
[data-theme="gaming-theme"] .winner-dialog__container {
    --winnerDialog-font: #{font.$orbitron};
}

[data-theme="gaming-theme"] .winner-dialog__confetti {
    --winnerDialogConfetti-img: url('/assets/img/themes/gaming-theme/confetti-game.png');
}

[data-theme="gaming-theme"] .winner-dialog__btn {
    --winnerDialog-btnBorder: 2px solid #ff4d7d;
    --winnerDialog-btnBorderHover: 4px solid  #{col.$exitBtnBorderGame};
    --winnerDialog-btnFontSize: 20px;
    --winnerDialog-btnBg: transparent;
    --winnerDialog-btnBorderRadius: 10px;
    --winnerDialog-padding: 12px 20px;
}


// Match Border
// Memory Cards
[data-theme="gaming-theme"] .memory-card {
    --memoryCard-width: 105px;
    --memoryCard-height: 120px;
}

[data-theme="gaming-theme"] .memory-card__front {
    background-color: #{col.$white-standard};
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

[data-theme="gaming-theme"] .memory-card__front .memory-card__img {
    width: auto;
    height: auto;
}

@keyframes matchFlash {
    0%   { box-shadow: 0 0 0px #84e908; }
    50%  { box-shadow: 0 0 20px 6px #c0d904; }
    100% { box-shadow: 0 0 6px 2px #d705b1; }
}

[data-theme="gaming-theme"] .memory-card.is-matched .memory-card__inner {
    --matchedCard-borderRadius: 12px;
    animation: matchFlash 0.5s ease forwards;
}

[data-theme="gaming-theme"] .cards-grid {
  --cardsGrid-gap:9px;
}