@use "../abstract/color-variables" as col;
@use "../abstract/font-varibales" as font;
@use "../abstract/mixins/mixins-standard" as flex;
@use "../abstract/font-varibales";

[data-theme="gaming-theme"] {
    --body-bg: #294F60;
}

[data-theme="gaming-theme"] .memory-card__img {
    --memoryCards-width: 138px;
    --memoryCards-height: 154px;
}

[data-theme="gaming-theme"] .game-header {
    --bgColor-header: #FD96C933;
    --padding-headerNav: 0 25px;
    --gameHeader-borderRadius: 10px;
    --gameHeader-navHeight: 102px;
}

[data-theme="gaming-theme"] .player-scores {
    --playerScore-width: 135px;
    --playerScore-height: 55px;
    --playerScore-radius: 10px;
    --playerScore-points: 26px;
    --playerNameNone: none;
    --playerScore-bg: white;
    --playerOrange-color: #EA6900;
    --playerBlue-color: #2BB1FF;
    --currentPlayer-label-font: #{font.$orbitron};
}

[data-theme="gaming-theme"] .player-scores__icon {
    --playerScore-iconHeight: 24px;
}

[data-theme="gaming-theme"] .current-player {
    --currentPalyer-alignSelf: center;
    --currentPlayer-label-font: #{font.$orbitron};
    --curenntPlayer-label-fontSize: 32px;
}

[data-theme="gaming-theme"] .quit-dialog {
    --dialog1-bg: #{col.$white-standard};
    --quitDialog-border: 20px;
}


//exit Button
[data-theme="gaming-theme"] .exit-game {
    --exitGame-bg: #ED1B7614;
    --exitBtn-border: 2px solid #ED1B76;
    --exitBtn-borderRadius: 10px;
    --currentPlayer-label-font: #{font.$orbitron};
    --exitIcon-url: url('/assets/img/themes/code-vibe-theme/exit-code-vibe.svg');
}

[data-theme="gaming-theme"] .exit-game:hover {
    --exitGame-hoverBorder: 4px solid #ED1B76;
    --exitIcon-url: url('/assets/img/themes/gaming-theme/exit-icon-rose.svg');
}



[data-theme="gaming-theme"] .quit-dialog__title {
    --dialog1-font: #{font.$orbitron};
    --quitDialog-textColor: #333333;

}


[data-theme="gaming-theme"] .quit-dialog__button {
    --dialog1BackBtn-border: 10px;
    --dialog1BackBtn-BorderColor: 2px solid #E71C4F;

}

[data-theme="gaming-theme"] .quit-dialog__button {
    --dialog1BackBtn-border: 10px;
    --dialog1BackBtn-BorderColor: 2px solid #E71C4F;
}

[data-theme="gaming-theme"] .quit-dialog__button--primary {
    --btnPrimary-bg: #ED1B76;
    --btnPrimary-border: #E71C4F;
    --btnPrimary-color: #{col.$white-standard};
    --btnPrimary-bgHover: #ffffff;
    --btnPrimary-borderHover: #E71C4F;
    --btnPrimary-colorHover: #E71C4F;
}

[data-theme="gaming-theme"] .quit-dialog__button--secondary {
    --btnSecondary-bg: transparent;
    --btnSecondary-border: #E71C4F;
    --btnSecondary-color: #E71C4F;
    --btnSecondary-bgHover: #e71c4f23;
    --btnSecondary-borderHover: #E71C4F;
}

//Game Over Dialog

[data-theme="gaming-theme"] .game-over-dialog {
    --gameOverDialog-bg: #294F60;
}

[data-theme="gaming-theme"] .game-over-dialog__container {
    --gameOverDialog-Font: #{font.$orbitron};
}

[data-theme="gaming-theme"] .game-over-dialog__img {
    --gameOver-img: url('/assets/img/game-over/game-over-gaming.svg');
}

[data-theme="gaming-theme"] .game-over-dialog__points {
    --gameOverDialog-pointsFontSize: 30px;
}

[data-theme="gaming-theme"] .game-over-dialog__scores {
    --gameOverDialog-scoreBg: #FFFFFF;
    --gameOverDialog-scoreBorderRadius: 10px;
}

[data-theme="gaming-theme"] .game-over-dialog__name {
    --gameOverDialog-nameDNone: none;
}

[data-theme="gaming-theme"] .game-over-dialog__player:first-child {
    --gameOver-playerColor: #2BB1FF;
}

[data-theme="gaming-theme"] .game-over-dialog__player:last-child {
    --gameOver-playerColor: #F58E39;
}

[data-theme="gaming-theme"] .game-over-dialog__player:first-child {
    --gameOver-playerIcon: url('/assets/img/themes/gaming-theme/player-icon-blue.svg');
}

[data-theme="gaming-theme"] .game-over-dialog__player:last-child {
    --gameOver-playerIcon: url('/assets/img/themes/gaming-theme/player-icon-orange.svg');
}

// Winner Dialog
[data-theme="gaming-theme"] .winner-dialog__container {
    --winnerDialog-font: #{font.$orbitron};
}

[data-theme="gaming-theme"] .winner-dialog__confetti {
    --winnerDialogConfetti-img: url('/assets/img/themes/gaming-theme/confetti-game.png');
}

[data-theme="gaming-theme"] .winner-dialog__btn {
    --winnerDialog-btnBorder: 2px solid #ff4d7d;
    --winnerDialog-btnBorderHover: 4px solid #E71C4F ;
    --winnerDialog-btnFontSize: 20px;
    --winnerDialog-btnBg: transparent;
    --winnerDialog-btnBorderRadius: 10px;
    --winnerDialog-padding: 12px 20px;
}