@use "abstract/mixins/mixins-standard" as flex;
@use "abstract/color-variables" as col;
@use "abstract/font-varibales" as font;



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('/assets/img/startsite/home-bg.svg');
    margin: 0;
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    @include flex.flex($direction: column, $gap: 40px);
}

// Content 1440px max
.container {
    width: 100%;
    max-width: 1440px;
    padding: 0 20px;
    @include flex.flex($direction: column, $gap: 40px);
}

.hero-titles {
    .dein-element {
        @include flex.flex($direction: column, $gap: null);
    }

    color: col.$white-standard;

    &__main {
        font-size: 42px;
        align-self: flex-start;
        font-family: font.$almarai;
    }

    &__sub {
        font-size: 140px;
        font-family: font.$red-rose;
    }
}