@use "../../abstract/color-variables" as col;
@use "../../abstract/font-varibales" as font;
@use "../../abstract//mixins/mixins-standard" as mix;


.quit-dialog {
    border-radius: var(--quitDialog-border);
    padding: 0;
    background-color: var(--dialog1-bg);
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.4);
    max-width: 550px;
    width: 90%;
    margin: auto;
    will-change: transform, opacity;
    opacity: 0;
    transform: translateY(150px);
    box-sizing: border-box;

    &[open] {
        opacity: 1;
        transform: translateY(0);
        transition:
            transform 0.5s cubic-bezier(0.22, 1, 0.36, 1),
            opacity 0.4s ease-out,
            display 0.5s allow-discrete,
            overlay 0.5s allow-discrete;

        &::backdrop {
            opacity: 1;
            transition: opacity 0.4s ease-out;
        }
    }

    @starting-style {
        &[open] {
            opacity: 0;
            transform: translateY(150px);
        }

        &[open]::backdrop {
            opacity: 0;
        }
    }

    &::backdrop {
        background-color: rgba(0, 0, 0, 0.75);
        backdrop-filter: blur(3px);
        opacity: 0;
    }

    &__container {
        padding: 50px 40px;
        text-align: center;
        @include mix.flex($direction: column);
    }

    &__title {
        font-family: var(--dialog1-font);
        @include mix.fontSizeWeight(32px, 700);
        color: var(--quitDialog-textColor, #333333);
        margin: 0 0 40px 0;
        line-height: 1.2;

        &:hover {
            color: var(--quitDialog-textHover, #333333);
        }
    }

    &__actions {
        display: flex;
        gap: 20px;
        justify-content: center;
        width: 100%;
    }

&__button {
    cursor: pointer;
    @include mix.fontSizeWeight(18px, 700);
    padding: 15px 30px;
    border-radius: var(--dialog1BackBtn-border);
    box-sizing: border-box;
    min-width: 180px;

    &:active {
        transform: scale(0.96);
    }

    &--primary {
        background-color: var(--btnPrimary-bg);
        color: var(--btnPrimary-color);
        border: 4px solid var(--btnPrimary-border);

        &:hover {
            background-color: var(--btnPrimary-bgHover);
            border-color: var(--btnPrimary-borderHover);
            color: var(--btnPrimary-colorHover);
        }
    }

    &--secondary {
        background-color: var(--btnSecondary-bg);
        color: var(--btnSecondary-color);
        border: 4px solid var(--btnSecondary-border);

        &:hover {
            background-color: var(--btnSecondary-bgHover);
            border-color: var(--btnSecondary-borderHover);
        }
    }
}
}