@use "../../abstract/color-variables" as col;
@use "../../abstract/font-varibales" as font;
@use "../../abstract/mixins/mixins-standard" as flex;

.exit-game {
    background-color: #86E9D633;
    width: 210px;
    height: 65px;
    border: 1px solid #4DD5BC; // border-color allein reicht oft nicht ohne border-style
    font-size: 24px;
    font-weight: 700;
    font-family: font.$red-rose;
    color: col.$white-standard;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    cursor: pointer; // Wichtig für die UX
    border-radius: 4px;

    &__icon {
        width: 24px;
        height: 24px;
    }

    &__text {
        pointer-events: none;
    }
}