@use "../../abstract/color-variables" as col;
@use "../../abstract/font-varibales" as font;
@use "../../abstract/mixins/mixins-standard" as mix;

.exit-game {
    background-color: var(--exitGame-bg);
    @include mix.size(210px, 65px);
    border: var(--exitBtn-border);
    border-radius: var(--exitBtn-borderRadius);
    @include mix.fontSizeWeight(24px, 700);
    font-family: font.$red-rose;
    color: col.$white-standard;
    @include mix.flex($gap: 15px);
    cursor: pointer;
    transition: all 0.05 ease-in-out;

    &:hover {
        border: var(--exitGame-hoverBorder);
    }

    &__icon {
        @include mix.size(32px, 32px);
        flex-shrink: 0;
        display: inline-block;
        background-image: var(--exitIcon-url);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    &__text {
        pointer-events: none;
    }
}