@use "../../abstract/color-variables" as col;
@use "../../abstract/font-varibales" as font;
@use "../../abstract/mixins/mixins-standard" as mix;


.game-over-dialog {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    border: none;
    padding: 0;
    background-color: var(--gameOverDialog-bg);
}

.game-over-dialog__container {
    width: 100%;
    height: 100%;
    @include mix.flex($direction: column, $gap: 30px);
    color: col.$white-standard;
    font-family: var(--gameOverDialog-Font);
}

.game-over-dialog__img {
    content: var(--gameOver-img);
    @include mix.size(980px, 121px);
    margin-bottom: 80px;
} 

.game-over-dialog__subtitle {
    @include mix.fontSizeWeight(26px, 400);
}

.game-over-dialog__scores {
    @include mix.flex($gap: 60px);
    padding: 17px 20px;
    background-color: var(--gameOverDialog-scoreBg);
    border-radius: var(--gameOverDialog-scoreBorderRadius);
}

.game-over-dialog__player {
    @include mix.flex($direction: row, $gap: 10px);
}

.game-over-dialog__icon {
    content: var(--gameOver-playerIcon);
    @include mix.size(24px, 20px);
}

.game-over-dialog__name {
    display: var(--gameOverDialog-nameDNone);
}

.game-over-dialog__points {
    font-size: var(--gameOverDialog-pointsFontSize);
}

.game-over-dialog__name,
.game-over-dialog__points {
    color: var(--gameOver-playerColor, col.$white-standard);
}

@keyframes slideDown {
    from {
        transform: translateY(-100vh);
    }

    to {
        transform: translateY(0);
    }
}

.game-over-dialog[open] {
    animation: slideDown 0.6s ease forwards;
    max-height: 100dvh;
}

.game-over-dialog:focus {
    outline: none;
}