@use "../../abstract/color-variables" as col;
@use "../../abstract/font-varibales" as font;
@use "../../abstract/mixins/mixins-standard" as mix;

.memory-card {
    height: var(--memoryCard-height, 120px);
    width: var(--memoryCard-width, 120px);
    cursor: pointer;
    perspective: 1000px;
}

.memory-card__front,
.memory-card__back {
    position: absolute;
    @include mix.fullSize();
    backface-visibility: hidden;
}

.memory-card__front {
    transform: rotateY(180deg);
}

.memory-card__back {
    transform: rotateY(0deg);
}

.memory-card__img {
    @include mix.fullSize();
    object-fit: cover;
}

.memory-card__front,
.memory-card__back {
    @include mix.fullSize();
    position: absolute;
    backface-visibility: hidden;
}

.memory-card__inner {
    @include mix.fullSize();
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s ease;
}

.memory-card.is-flipped .memory-card__inner {
    transform: rotateY(180deg);
}

.memory-card.is-matched .memory-card__inner {
    border: var(--matchedCard-border);
    border-radius: var(--matchedCard-borderRadius);
    box-sizing: border-box;
}