@mixin flex($direction: null, $gap: null, $justify: center, $align: center) {
  display: flex;
  @if $direction { flex-direction: $direction; }
  @if $gap { gap: $gap; }
  justify-content: $justify;
  align-items: $align;
}

@mixin size($width: 20px, $height: $width) {
  width: $width;
  height: $height;
}